# =====================
# IntelliJ IDEA
# =====================
.idea/
*.iml

# =====================
# Java / Maven
# =====================
out/
target/
*.class

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# =====================
# OS / Misc
# =====================
.DS_Store
Thumbs.db